.excelUploaderCon {
  border: 2px dashed #aaa;
  padding: 20px;
  border-radius: 5px;
  color: '#aaa';
  text-align: center;
  transition: all 0.2s;
  margin-bottom: 300px;
}

.table {
  max-height: 300px;
  overflow-y: auto;
}

.statusColumn {
  width: 200px;
}
